* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: black;
  }
 
  #images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 30px;
  }

  img {
    width: 100%;
  }

  #header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: rgb(10, 22, 133);
    color: white;
    padding: 13px 10px 0px 10px;
    font-size: 30px;
    text-align: center;
  }

  #container {
    text-align: center;
    color: white;
    font-size: 30px;
    background-image: src("https://w-dog.net/wallpapers/13/6/452937041049319/marvel-studio-logo-minimalism.jpg");
  }

  #foot {
    background-color: rgb(10, 22, 133);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 13px 10px 0px 10px;
  }

  p{
    margin: 0px;
  }